
@{
    ViewBag.Title = "BecomePosh";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="header-top" id="sticker">
    <!-- SMALL-LOGO START-->
    <div class="small-logo">
        <a rel="home" title="Mandala" href="@Url.Action("index", "home")"><img alt="" src="~/img/Final Posh Brands Logo - Copy.png"></a>


        <nav>
            <ul>

                <li><a href="@Url.Action("about", "home")">WHO WE ARE.</a></li>
                <li>
                    <a href="@Url.Action("ourbrands", "home")">Our Brands.</a>

                </li>
                <li>
                    <a href="@Url.Action("home", "jobs")" class="navActive">Careers.</a>
                </li>
                <li>
                    <a href="@Url.Action("Gallery", "home")">Gallery.</a>
                </li>
                <li>
                    <a href="@Url.Action("MediaCenter", "home")">MEDIA CENTER.</a>
                </li>

                <li><a href="@Url.Action("ContactUs", "home")">Contact Us.</a></li>
                <li><a href="@Url.Action("index", "CustomerService")">Customer Service.</a></li>

            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mobile-menu">
                        <ul id="mobile-menu">

                            <li><a href="@Url.Action("about", "home")">WHO WE ARE.</a></li>
                            <li>
                                <a href="@Url.Action("ourbrands", "home")">Our Brands.</a>

                            </li>
                            <li>
                                <a href="@Url.Action("home", "jobs")" class="navActive" style="color:#dacea4">Careers.</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Gallery", "home")">Gallery.</a>
                            </li>
                            <li>
                                <a href="@Url.Action("MediaCenter", "home")">MEDIA CENTER.</a>
                            </li>

                            <li><a href="@Url.Action("ContactUs", "home")">Contact Us.</a></li>
                            <li><a href="@Url.Action("index", "CustomerService")">Customer Service.</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SMALL-LOGO END-->
    <!-- TOP-LINK START-->
    <ul class="top-link"></ul>
    <!-- TOP-LINK END-->
    <!-- MAIN-MENU-AREA START-->
    <!-- MAIN-MENU-AREA END-->
</div>
<div class="careersSubmenuHolder">
    <div class="careersSubmenuResponsive">Careers</div>
    <ul class="careersSubmenu">

        <li><a href="@Url.Action("possibilities","jobs")">Possibilities you can work with.</a></li>

        <li><a href="@Url.Action("whywork","jobs")">Why work with us.</a></li>

        <li ><a href="@Url.Action("cando","jobs")">What can you do.</a></li>

        <li class="selected"><a href="@Url.Action("becomeposh","jobs")">Become an Posh Brandsian.</a></li>

        <li ><a href="@Url.Action("vacancies","jobs")">Vacancies.</a></li>





    </ul>
</div>
<div class="mainHead" style="padding-top: 60px;">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 hiddenMobile">
                <div class="breadCrumbs"><a href="@Url.Action("index","home")">Home</a><span>/</span><a href="@Url.Action("home","jobs")">Careers</a><span>/</span><a href="#">Become an Posh Brandsian.</a></div>
            </div>
            <div class="col-sm-6 col-xs-12 pageTitleHolder">
                <h3 class="blockTitle centered">Become an Posh Brandsian.</h3>
            </div>

        </div>
    </div>
</div>
<div id="MainHeadPlaceHolder_divPageHead" class="pageHead" style="background-image:url(http://www.azadea.com/contentfiles/1661TopBannerImage.jpg);">
    <span id="MainHeadPlaceHolder_spanIcon" class="circleIcon botCircle timelineIcon"></span>
    <div class="container-fluid">
        <div class="midAlign whiteContent" id="azdBanner">
            <div class="blockHead row">

                <div id="MainHeadPlaceHolder_divHeadSlogan" class="col-md-9 col-sm-10 centeredBlock greenSlogan">Posh Brands prides itself on using the very latest techniques to identify, evaluate, and recruit the most qualified job candidates.</div>
            </div>


        </div>
    </div>
</div>
<div class="blockPad">

    <div class="container-fluid">
        <div id="ContentPlaceHolder_sloganHolder" class="blockHead row specialMarginBot">
            <div class="col-md-10 centeredBlock greenSlogan">
                The Posh Brands recruitment&nbsp;process uses a series of pre-determined stages, ensuring the best possible fit between each successful applicant and his or her position.

                <input name="ctl00$ContentPlaceHolder$HtmlPH4$TextBox1" id="ContentPlaceHolder_HtmlPH4_TextBox1" style="width:0px;display:none" type="text">
                <input name="ctl00$ContentPlaceHolder$HtmlPH4$hidDropDownID" id="ContentPlaceHolder_HtmlPH4_hidDropDownID" type="hidden">
                <span id="ContentPlaceHolder_HtmlPH4_lbItemFile" class="itemslinks"></span>
                <input name="ctl00$ContentPlaceHolder$HtmlPH4$hdItemID" id="ContentPlaceHolder_HtmlPH4_hdItemID" type="hidden"><input name="ctl00$ContentPlaceHolder$HtmlPH4$hdMultiItemsIDs" id="ContentPlaceHolder_HtmlPH4_hdMultiItemsIDs" class="hiddenOrder" type="hidden">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 centeredBlock">
                <div class="timelineHolder posRel">
                    <div class="middleLine"></div>

                    <div id="ContentPlaceHolder_rptCareerSteps_divHolder_0" class="timelineElement">
                        <div class="timelineElementHolder">
                            <div class="tlNumber"><span>1</span></div>
                            <div class="tlTitle">Application.</div>
                            <div class="tlDesc">To submit your application, you can register on our Careers' website <a href="@Url.Action("home","jobs")" target="_blank">here</a>  and apply for the role that best matches with your experience. If you do not see a suitable vacancy, you can still apply and we will contact you when a vacancy arises.</div>
                        </div>
                    </div>

                    <div id="ContentPlaceHolder_rptCareerSteps_divHolder_1" class="timelineElement left">
                        <div class="timelineElementHolder">
                            <div class="tlNumber"><span>2</span></div>
                            <div class="tlTitle">CV Selection.</div>
                            <div class="tlDesc">At this stage, the most appropriate CVs from our databases are reviewed and filtered based on the required experience and qualifications.</div>
                        </div>
                    </div>

                    <div id="ContentPlaceHolder_rptCareerSteps_divHolder_2" class="timelineElement">
                        <div class="timelineElementHolder">
                            <div class="tlNumber"><span>3</span></div>
                            <div class="tlTitle">Aptitude and Skills Assessment.</div>
                            <div class="tlDesc">Some roles require written preliminary assessments allowing us to test targeted functional or behavioral skills.</div>
                        </div>
                    </div>

                    <div id="ContentPlaceHolder_rptCareerSteps_divHolder_3" class="timelineElement left">
                        <div class="timelineElementHolder">
                            <div class="tlNumber"><span>4</span></div>
                            <div class="tlTitle">Initial Interview.</div>
                            <div class="tlDesc">This involves meeting with a member of HR’s recruitment team to further discuss your experience, expectations, and background by using the CBI (competency-based interview) technique that enables a better understanding of your qualifications.</div>
                        </div>
                    </div>

                    <div id="ContentPlaceHolder_rptCareerSteps_divHolder_4" class="timelineElement">
                        <div class="timelineElementHolder">
                            <div class="tlNumber"><span>5</span></div>
                            <div class="tlTitle">Hiring Manager Interview.</div>
                            <div class="tlDesc">Here you will meet with one or more managers from the business to which you have applied, who will assess your technical fit for the role in question, as well as answer any questions you might have.</div>
                        </div>
                    </div>

                    <div id="ContentPlaceHolder_rptCareerSteps_divHolder_5" class="timelineElement left">
                        <div class="timelineElementHolder">
                            <div class="tlNumber"><span>6</span></div>
                            <div class="tlTitle">Background Check.</div>
                            <div class="tlDesc">For this stage, you will nominate one former manager from a previous job to act as a referee with whom we can further discuss your competencies and fit for the position you have applied for.</div>
                        </div>
                    </div>

                    <div id="ContentPlaceHolder_rptCareerSteps_divHolder_6" class="timelineElement">
                        <div class="timelineElementHolder">
                            <div class="tlNumber"><span>7</span></div>
                            <div class="tlTitle">Offer.</div>
                            <div class="tlDesc">Congratulations! You have been selected to be part of one of the leading retailers in egypt. The HR Department will be in contact with you to proceed with the employment offer.</div>
                        </div>
                    </div>

                    <div id="ContentPlaceHolder_rptCareerSteps_divHolder_7" class="timelineElement left">
                        <div class="timelineElementHolder">
                            <div class="tlNumber"><span>8</span></div>
                            <div class="tlTitle">Submission of Personal Documents.</div>
                            <div class="tlDesc">To make you an official posh brandsian, you will be required to submit several documents required for our records, including any relevant visas, work permits, etc.</div>
                        </div>
                    </div>

                    <div id="ContentPlaceHolder_rptCareerSteps_divHolder_8" class="timelineElement">
                        <div class="timelineElementHolder">
                            <div class="tlNumber"><span>9</span></div>
                            <div class="tlTitle">Onboarding.</div>
                            <div class="tlDesc">This process helps you adjust quickly and smoothly to the social and performance aspects of your new job, and learn what is required to function effectively within the Group.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="greyBlocksHolder sameHeightPads blockPad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="specialMarginBot centered"><a href="@Url.Action("Job","jobs", new { jobTitle =1})">Available Jobs.</a></h2>
                <div style="min-height: 292px; height: auto; background-image:url(../../img/jobs/csm_Waeldchen-0067-K1-DM_d43c7c2eae.jpg)" class="sameHeightEntity">

                    <div class="row">
                        <div class="col-md-12 vacancyList" style="margin-top: 120px;">
                            <div class="centered">
                                <a href="@Url.Action("Job","jobs", new { jobTitle =2})" class="normalBtn center-block "><span>Apply Now</span></a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



            <div class="col-md-6 col-sm-6">
                <h2 class="specialMarginBot centered"><a href="@Url.Action("Job","jobs", new { jobTitle =2})">Featured Jobs.</a></h2>
                <div style="min-height: 292px; height: auto; background-image:url(../../img/jobs/csm_karriere_we_menschen-mt2x_b5e5c2ef1d.jpg)" class="sameHeightEntity">

                    <div class="row">
                        <div class="col-md-12 vacancyList" style="margin-top: 120px;">
                            <div class="centered">
                                <a href="@Url.Action("Job","jobs", new { jobTitle =2})" class="normalBtn  "><span>Apply Now</span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
