
@{
    ViewBag.Title = "cando";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="header-top" id="sticker">
    <!-- SMALL-LOGO START-->
    <div class="small-logo">
        <a rel="home" title="Mandala" href="@Url.Action("index", "home")"><img alt="" src="~/img/Final Posh Brands Logo - Copy.png"></a>


        <nav>
            <ul>

                <li><a href="@Url.Action("about", "home")">WHO WE ARE.</a></li>
                <li>
                    <a href="@Url.Action("ourbrands", "home")">Our Brands.</a>

                </li>
                <li>
                    <a href="@Url.Action("home", "jobs")" class="navActive">Careers.</a>
                </li>
                <li>
                    <a href="@Url.Action("Gallery", "home")">Gallery.</a>
                </li>
                <li>
                    <a href="@Url.Action("MediaCenter", "home")">MEDIA CENTER.</a>
                </li>

                <li><a href="@Url.Action("ContactUs", "home")">Contact Us.</a></li>
                <li><a href="@Url.Action("index", "CustomerService")">Customer Service.</a></li>

            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mobile-menu">
                        <ul id="mobile-menu">

                            <li><a href="@Url.Action("about", "home")">WHO WE ARE.</a></li>
                            <li>
                                <a href="@Url.Action("ourbrands", "home")">Our Brands.</a>

                            </li>
                            <li>
                                <a href="@Url.Action("home", "jobs")" class="navActive" style="color:#dacea4">Careers.</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Gallery", "home")">Gallery.</a>
                            </li>
                            <li>
                                <a href="@Url.Action("MediaCenter", "home")">MEDIA CENTER.</a>
                            </li>

                            <li><a href="@Url.Action("ContactUs", "home")">Contact Us.</a></li>
                            <li><a href="@Url.Action("index", "CustomerService")">Customer Service.</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SMALL-LOGO END-->
    <!-- TOP-LINK START-->
    <ul class="top-link"></ul>
    <!-- TOP-LINK END-->
    <!-- MAIN-MENU-AREA START-->
    <!-- MAIN-MENU-AREA END-->
</div>
<div class="careersSubmenuHolder">
    <div class="careersSubmenuResponsive">Careers</div>
    <ul class="careersSubmenu">

        <li><a href="@Url.Action("possibilities","jobs")">Possibilities you can work with.</a></li>

        <li><a href="@Url.Action("whywork","jobs")">Why work with us.</a></li>

        <li class="selected"><a href="@Url.Action("cando","jobs")">What can you do.</a></li>

        <li><a href="@Url.Action("becomeposh","jobs")">Become an Posh Brandsian.</a></li>

        <li ><a href="@Url.Action("vacancies","jobs")">Vacancies.</a></li>





    </ul>
</div>
<div class="mainHead" style="padding-top: 60px;">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 hiddenMobile">
                <div class="breadCrumbs"><a href="@Url.Action("index","home")">Home</a><span>/</span><a href="@Url.Action("home","jobs")">Careers</a><span>/</span><a href="#">What can you do.</a></div>
            </div>
            <div class="col-sm-6 col-xs-12 pageTitleHolder">
                <h3 class="blockTitle centered">What can you do.</h3>
            </div>

        </div>
    </div>
</div>

<div id="MainHeadPlaceHolder_divPageHead" class="pageHead" style="background-image:url(http://www.azadea.com/contentfiles/1659TopBannerImage.jpg);">
    <span id="MainHeadPlaceHolder_spanIcon" class="circleIcon botCircle whatCanYouDo"></span>
    <div class="container-fluid">
        <div class="midAlign whiteContent" id="azdBanner">
            <div class="blockHead row">

                <div id="MainHeadPlaceHolder_divHeadSlogan" class="col-md-9 col-sm-10 centeredBlock greenSlogan">Posh Brands’s expanding presence allover Egypt offers <br /> two main career paths:</div>
            </div>


        </div>
    </div>
</div>
<div class="blockPad">
    <span id="ContentPlaceHolder_ControlRetail_spanIcon" class="circleIcon bagIcon"></span>
    <div class="container-fluid">
        <div class="row whatcanYoudoBlock">
            <div class="col-md-12 pageTitleHolder">
                <h3 class="blockTitle centered">
                    Retail.
                </h3>
            </div>
            <div class="col-md-12 centeredBlock greenSlogan margBot40">
                Posh Brands offers regular openings at shops featuring everything from the trendiest clothes and accessories , and other lifestyle products.
            </div>
            <div class="col-md-12 vacancyDescriptionHolder">
                <div class="normalText">
                    <div class="bigInnerSpace">
                        <div class="col-sm-6">
                            <div class="normalText">
                                Here you can try on expert training and inside knowledge in the hottest men’s and women’s clothing, the coolest accessories, and other exciting products that define modern lifestyles.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="normalText">
                                Positions at these stores make for a long list of exciting possibilities:
                                <ul class="list2col">
                                    <li>Cashier</li>
                                    <li>Assistant Manager </li>
                                    <li>Shop Manager</li>
                                    <li>Tailor</li>
                                    <li>Sales Associate</li>
                                    <li>Stock Keeper</li>
                                    <li>Visual Merchandiser</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ContentPlaceHolder_ControlRetail_divImg" class="pageHead" style="background-image: url('../../img/1737TopBannerImage.jpg');">
</div>
<div class="blockPad">
    <span id="ContentPlaceHolder_ControlRetail2_spanIcon" class="circleIcon HQ"></span>
    <div class="container-fluid">
        <div class="row whatcanYoudoBlock">
            <div class="col-md-12 pageTitleHolder">
                <h3 class="blockTitle centered">
                    Headquarters.
                </h3>
            </div>
            <div class="col-md-12 centeredBlock greenSlogan margBot40">
                Front-line shops are overseen and supported by Posh Brands’s   headquarters in Egypt
            </div>
            <div class="col-md-12 vacancyDescriptionHolder">
                <div class="normalText">
                    <div class="bigInnerSpace">
                        <div class="col-sm-6">
                            <div class="normalText">
                                These corporate hubs are a magnet for talented and resourceful people, those who help ensure retail success by finding competitive advantage throughout our business operations.
                                <ul>
                                    <li>Commercial (planning and brand management)</li>
                                    <li>Operational (logistics, procurement, loss prevention, etc.)</li>
                                    <li>Human Resources (recruitment, learning and development, performance management, compensation and benefits)</li>
                                    <li>Marketing (brand marketing, corporate communication, graphic design)</li>
                                    <li>Finance (accounting, inventory control, etc.)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="normalText">
                                Headquarters activities are crucial to success across all business lines, so all positions call for ambitious performers whose passion is contagious:
                                <ul>
                                    <li>Customer Service</li>
                                    <li>Information Technology </li>
                                    <li>Business Development </li>
                                    <li>Real Estate </li>
                                    <li>Country/Market Management </li>
                                    <li>Administration </li>
                                    <li>Internal Audit </li>
                                    <li>Legal</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ContentPlaceHolder_ControlRetail2_divImg" class="pageHead" style="background-image: url('../../img/1740TopBannerImage.jpg');">
</div>
<div class="blockPad lightGrey">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 centeredBlock greenSlogan margBot40">
                Best of all, our commitment to internal mobility means that Posh Brandsian can expand their skillsets and build their careers by moving back and forth between retail and headquarters jobs. This flexible and nurturing ecosystem produces both well-rounded professionals and ample opportunities for them to strut their stuff.
                <span id="ContentPlaceHolder_htmlPh4_lbItemFile" class="itemslinks"></span>
                <input name="ctl00$ContentPlaceHolder$htmlPh4$hdItemID" id="ContentPlaceHolder_htmlPh4_hdItemID" type="hidden"><input name="ctl00$ContentPlaceHolder$htmlPh4$hdMultiItemsIDs" id="ContentPlaceHolder_htmlPh4_hdMultiItemsIDs" class="hiddenOrder" type="hidden">
            </div>
        </div>
    </div>
</div>

<div class="greyBlocksHolder sameHeightPads blockPad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="specialMarginBot centered"><a href="@Url.Action("Job","jobs", new { jobTitle =1})">Available Jobs.</a></h2>
                <div style="min-height: 292px; height: auto; background-image:url(../../img/jobs/csm_Waeldchen-0067-K1-DM_d43c7c2eae.jpg)" class="sameHeightEntity">

                    <div class="row">
                        <div class="col-md-12 vacancyList" style="margin-top: 120px;">
                            <div class="centered">
                                <a href="@Url.Action("Job","jobs", new { jobTitle =2})" class="normalBtn center-block "><span>Apply Now</span></a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



            <div class="col-md-6 col-sm-6">
                <h2 class="specialMarginBot centered"><a href="@Url.Action("Job","jobs", new { jobTitle =2})">Featured Jobs.</a></h2>
                <div style="min-height: 292px; height: auto; background-image:url(../../img/jobs/csm_karriere_we_menschen-mt2x_b5e5c2ef1d.jpg)" class="sameHeightEntity">

                    <div class="row">
                        <div class="col-md-12 vacancyList" style="margin-top: 120px;">
                            <div class="centered">
                                <a href="@Url.Action("Job","jobs", new { jobTitle =2})" class="normalBtn  "><span>Apply Now</span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

