
@{
    ViewBag.Title = "Possibilities";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="header-top" id="sticker">
    <!-- SMALL-LOGO START-->
    <div class="small-logo">
        <a rel="home" title="Mandala" href="@Url.Action("index", "home")"><img alt="" src="~/img/Final Posh Brands Logo - Copy.png"></a>


        <nav>
            <ul>

                <li><a href="@Url.Action("about", "home")">WHO WE ARE.</a></li>
                <li>
                    <a href="@Url.Action("ourbrands", "home")">Our Brands.</a>

                </li>
                <li>
                    <a href="@Url.Action("home", "jobs")" class="navActive">Careers.</a>
                </li>
                <li>
                    <a href="@Url.Action("Gallery", "home")">Gallery.</a>
                </li>
                <li>
                    <a href="@Url.Action("MediaCenter", "home")">MEDIA CENTER.</a>
                </li>

                <li><a href="@Url.Action("ContactUs", "home")">Contact Us.</a></li>
                <li><a href="@Url.Action("index", "CustomerService")">Customer Service.</a></li>

            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mobile-menu">
                        <ul id="mobile-menu">

                            <li><a href="@Url.Action("about", "home")">WHO WE ARE.</a></li>
                            <li>
                                <a href="@Url.Action("ourbrands", "home")">Our Brands.</a>

                            </li>
                            <li>
                                <a href="@Url.Action("home", "jobs")" class="navActive" style="color:#dacea4">Careers.</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Gallery", "home")">Gallery.</a>
                            </li>
                            <li>
                                <a href="@Url.Action("MediaCenter", "home")">MEDIA CENTER.</a>
                            </li>

                            <li><a href="@Url.Action("ContactUs", "home")">Contact Us.</a></li>
                            <li><a href="@Url.Action("index", "CustomerService")">Customer Service.</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SMALL-LOGO END-->
    <!-- TOP-LINK START-->
    <ul class="top-link"></ul>
    <!-- TOP-LINK END-->
    <!-- MAIN-MENU-AREA START-->
    <!-- MAIN-MENU-AREA END-->
</div>
<div class="careersSubmenuHolder">
    <div class="careersSubmenuResponsive">Careers</div>
    <ul class="careersSubmenu">

        <li class="selected"><a href="@Url.Action("possibilities","jobs")" >Possibilities you can work with.</a></li>

        <li><a href="@Url.Action("whywork","jobs")">Why work with us.</a></li>

        <li><a href="@Url.Action("cando","jobs")">What can you do.</a></li>

        <li><a href="@Url.Action("becomeposh","jobs")">Become an Posh Brandsian.</a></li>

        <li ><a href="@Url.Action("vacancies","jobs")">Vacancies.</a></li>





    </ul>
</div>
<div class="mainHead" style="padding-top: 60px;">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 hiddenMobile">
                <div class="breadCrumbs"><a href="@Url.Action("index","home")">Home</a><span>/</span><a href="@Url.Action("home","jobs")">Careers</a><span>/</span><a href="#">Possibilities you can work with.</a></div>
            </div>
            <div class="col-sm-6 col-xs-12 pageTitleHolder">
                <h3 class="blockTitle centered">Possibilities you can work with.</h3>
            </div>

        </div>
    </div>
</div>
<div id="MainHeadPlaceHolder_divPageHead" class="videoHead" style="background-image:url(http://www.azadea.com/contentfiles/1657TopBannerImage.jpg);">
    <span id="MainHeadPlaceHolder_spanIcon" class="circleIcon botCircle caseIcon botCircle"></span>
    <div class="container-fluid">
        <div class="midAlign whiteContent" id="azdBanner">
            <div class="blockHead row">


            </div>


        </div>
    </div>
</div>
<div class="blockPad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 centeredBlock greenSlogan margBot40">
                Working at Posh Brands opens up a broad range of possibilities for candidates from all walks of life, from students and young graduates to retail professionals and experienced managers.
            </div>
            <div class="col-md-9  centeredBlock">
                <div class="normalText">
                    <div class="row bigInnerSpace">
                        <div class="col-md-6  col-sm-6">
                            <div class="normalText">
                                Our business model involves us at almost every stage of the retail industry in more than a dozen countries, so we offer a wide variety of positions and locations.
                            </div>
                        </div>
                        <div class="col-md-6  col-sm-6">
                            <div class="normalText">
                                For every job category we offer and in every market we serve, the Posh Brands also believes very strongly that its people are its single-greatest source of added value, so we work hard to retain deserving performers who share our core values.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="image-area">
   
    <div class="container">

        <div class="row">
            <h3 class="text-center">We Believe In.</h3>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="image-area-col">
                    <img src="~/img/about-us/right.png" class="center-block" />
                    <h4 class="text-center">Do The Right Thing</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="image-area-col">
                    <img src="~/img/about-us/Untitled-1.png" class="center-block" />
                    <h4 class="text-center">Show We Care</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="image-area-col">
                    <img src="~/img/about-us/Untitled-6.png" class="center-block" />
                    <h4 class="text-center">Celebrate Difference</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="image-area-col">
                    <img src="~/img/about-us/Untitled-111.png" class="center-block" />
                    <h4 class="text-center">Aim Higher</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blockPad lightGrey">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 centeredBlock">
                <div class="normalText">
                    <div class="row bigInnerSpace">
                        <div class="col-md-6  col-sm-6 margBot40">
                            <div class="normalText">
                                Employees who take on the spirit of these values become Posh Brandsian, people who predict the future by creating it themselves. They enjoy internal mobility across the full breadth and depth of our operations, giving each and every member of the team more possibilities to chart out a successful career path.<br>
                                Every Posh Brandsian strives to become the best possible version of him- or herself, and we help them do it.
                            </div>
                        </div>
                        <div class="col-md-6  col-sm-6 margBot40">
                            <div class="normalText">
                                This means investing in qualified employees by nurturing their skills through a wide range of both internal and external customized training, as well as a commitment to career development and growth that opens up even more avenues for in-house advancement. It also means a transparent ecosystem, one in which we empower our people to achieve their ambitions by rewarding merit and ensuring equal opportunity for all.
                            </div>
                        </div>
                        <div class="col-md-12 centeredBlock greenSlogan ">
                            At Posh Brandsian, we really do Believe in Possibilities and the Values that put them within reach.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="greyBlocksHolder sameHeightPads blockPad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="specialMarginBot centered"><a href="@Url.Action("Job","jobs", new { jobTitle =1})">Available Jobs.</a></h2>
                <div style="min-height: 292px; height: auto; background-image:url(../../img/jobs/csm_Waeldchen-0067-K1-DM_d43c7c2eae.jpg)" class="sameHeightEntity">

                    <div class="row">
                        <div class="col-md-12 vacancyList" style="margin-top: 120px;">
                            <div class="centered">
                                <a href="@Url.Action("Job","jobs", new { jobTitle =2})" class="normalBtn center-block "><span>Apply Now</span></a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



            <div class="col-md-6 col-sm-6">
                <h2 class="specialMarginBot centered"><a href="@Url.Action("Job","jobs", new { jobTitle =2})">Featured Jobs.</a></h2>
                <div style="min-height: 292px; height: auto; background-image:url(../../img/jobs/csm_karriere_we_menschen-mt2x_b5e5c2ef1d.jpg)" class="sameHeightEntity">

                    <div class="row">
                        <div class="col-md-12 vacancyList" style="margin-top: 120px;">
                            <div class="centered">
                                <a href="@Url.Action("Job","jobs", new { jobTitle =2})" class="normalBtn  "><span>Apply Now</span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
