
@{
    ViewBag.Title = "MediaCenter";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="header-top" id="sticker">
    <!-- SMALL-LOGO START-->
    <div class="small-logo">
        <a rel="home" title="Mandala" href="@Url.Action("index", "home")"><img alt="" src="~/img/Final Posh Brands Logo - Copy.png"></a>


        <nav>
            <ul>

                <li><a href="@Url.Action("about", "home")">WHO WE ARE.</a></li>
                <li>
                    <a href="@Url.Action("ourbrands", "home")">Our Brands.</a>

                </li>
                <li>
                    <a href="@Url.Action("home", "jobs")">Careers.</a>
                </li>
                <li>
                    <a href="@Url.Action("Gallery", "home")">Gallery.</a>
                </li>
                <li>
                    <a href="@Url.Action("MediaCenter", "home")"  class="navActive">MEDIA CENTER.</a>
                </li>

                <li><a href="@Url.Action("ContactUs", "home")">Contact Us.</a></li>
                <li><a href="@Url.Action("index", "CustomerService")">Customer Service.</a></li>
                @*<li><a href="@Url.Action("ContactUs", "home")">Customer Service</a></li>
                    <li><a href="@Url.Action("ContactUs", "home")">Investor relation</a></li>*@
            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mobile-menu">
                        <ul id="mobile-menu">

                            <li><a href="@Url.Action("about", "home")">WHO WE ARE.</a></li>
                            <li>
                                <a href="@Url.Action("ourbrands", "home")">Our Brands.</a>

                            </li>
                            <li>
                                <a href="@Url.Action("home", "jobs")">Careers.</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Gallery", "home")" >Gallery.</a>
                            </li>
                            <li>
                                <a href="@Url.Action("MediaCenter", "home")" class="navActive" style="color:#dacea4">MEDIA CENTER.</a>
                            </li>

                            <li><a href="@Url.Action("ContactUs", "home")">Contact Us.</a></li>
                            <li><a href="@Url.Action("index", "CustomerService")">Customer Service.</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SMALL-LOGO END-->
    <!-- TOP-LINK START-->
    <ul class="top-link"></ul>
    <!-- TOP-LINK END-->
    <!-- MAIN-MENU-AREA START-->
    <!-- MAIN-MENU-AREA END-->
</div>
<!--  ABOUT-US-BANNAER-AREA START-->
<div class="mainHead">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 hiddenMobile">
                <div class="breadCrumbs"><a href="@Url.Action("index","home")">Home</a><span>/</span><a href="#">Media Center</a></div>
            </div>
            <div class="col-sm-6 col-xs-12 pageTitleHolder">
                <h3 class="blockTitle centered">Media Center.</h3>
            </div>

        </div>
    </div>
</div>
<div class="portfolio-bannaer-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="banner-area">

                 

                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container gal-container">
        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#1">
                    <img src="~/img/portfolio/aboutus-1.jpg">
                </a>
                <div class="modal fade" id="1" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/aboutus-1.jpg">
                            </div>
                            <div class="col-md-12 description">
                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#2">
                    <img src="~/img/portfolio/MEK_4502.jpg">
                </a>
                <div class="modal fade" id="2" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/MEK_4502.jpg">
                            </div>
                            <div class="col-md-12 description">
                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#3">
                    <img src="~/img/portfolio/DSC_6408.jpg">
                </a>
                <div class="modal fade" id="3" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6408.jpg">
                            </div>
                            <div class="col-md-12 description">
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#4">
                    <img src="~/img/portfolio/DSC_6417.jpg">
                </a>
                <div class="modal fade" id="4" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6417.jpg">
                            </div>
                            <div class="col-md-12 description">
                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#5">
                    <img src="~/img/portfolio/DSC_6418.jpg">
                </a>
                <div class="modal fade" id="5" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6418.jpg">
                            </div>
                            <div class="col-md-12 description">
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#6">
                    <img src="~/img/portfolio/DSC_6421.jpg">
                </a>
                <div class="modal fade" id="6" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6421.jpg">
                            </div>
                            <div class="col-md-12 description">
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#7">
                    <img src="~/img/portfolio/DSC_6422.jpg">
                </a>
                <div class="modal fade" id="7" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6422.jpg">
                            </div>
                            <div class="col-md-12 description">
                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#8">
                    <img src="~/img/portfolio/DSC_6423.jpg">
                </a>
                <div class="modal fade" id="8" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6423.jpg">
                            </div>
                            <div class="col-md-12 description">
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#9">
                    <img src="~/img/portfolio/DSC_6424.jpg">
                </a>
                <div class="modal fade" id="9" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6424.jpg">
                            </div>
                            <div class="col-md-12 description">
                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#10">
                    <img src="~/img/portfolio/DSC_6425.jpg">
                </a>
                <div class="modal fade" id="10" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6425.jpg">
                            </div>
                            <div class="col-md-12 description">
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#11">
                    <img src="~/img/portfolio/DSC_6426.jpg">
                </a>
                <div class="modal fade" id="11" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6426.jpg">
                            </div>
                            <div class="col-md-12 description">
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#12">
                    <img src="~/img/portfolio/DSC_6427.jpg">
                </a>
                <div class="modal fade" id="12" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6427.jpg">
                            </div>
                            <div class="col-md-12 description">
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#13">
                    <img src="~/img/portfolio/DSC_6428.jpg">
                </a>
                <div class="modal fade" id="13" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6428.jpg">
                            </div>
                            <div class="col-md-12 description">
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#14">
                    <img src="~/img/portfolio/DSC_6432.jpg">
                </a>
                <div class="modal fade" id="14" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6432.jpg">
                            </div>
                            <div class="col-md-12 description">
                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#15">
                    <img src="~/img/portfolio/DSC_6433.jpg">
                </a>
                <div class="modal fade" id="15" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6433.jpg">
                            </div>
                            <div class="col-md-12 description">
             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#16">
                    <img src="~/img/portfolio/DSC_6448.jpg">
                </a>
                <div class="modal fade" id="16" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/DSC_6448.jpg">
                            </div>
                            <div class="col-md-12 description">
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#17">
                    <img src="~/img/portfolio/MEK_4830.jpg">
                </a>
                <div class="modal fade" id="17" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/MEK_4830.jpg">
                            </div>
                            <div class="col-md-12 description">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#18">
                    <img src="~/img/portfolio/MEK_4809.jpg">
                </a>
                <div class="modal fade" id="18" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/MEK_4809.jpg">
                            </div>
                            <div class="col-md-12 description">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#19">
                    <img src="~/img/portfolio/MEK_4785.jpg">
                </a>
                <div class="modal fade" id="19" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/MEK_4785.jpg">
                            </div>
                            <div class="col-md-12 description">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#20">
                    <img src="~/img/portfolio/MEK_4758.jpg">
                </a>
                <div class="modal fade" id="20" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/MEK_4758.jpg">
                            </div>
                            <div class="col-md-12 description">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#21">
                    <img src="~/img/portfolio/MEK_4732.jpg">
                </a>
                <div class="modal fade" id="21" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/MEK_4732.jpg">
                            </div>
                            <div class="col-md-12 description">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#22">
                    <img src="~/img/portfolio/MEK_4728.jpg">
                </a>
                <div class="modal fade" id="22" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/MEK_4728.jpg">
                            </div>
                            <div class="col-md-12 description">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#23">
                    <img src="~/img/portfolio/MEK_4726.jpg">
                </a>
                <div class="modal fade" id="23" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/MEK_4726.jpg">
                            </div>
                            <div class="col-md-12 description">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#24">
                    <img src="~/img/portfolio/MEK_4715.jpg">
                </a>
                <div class="modal fade" id="24" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/MEK_4715.jpg">
                            </div>
                            <div class="col-md-12 description">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#25">
                    <img src="~/img/portfolio/MEK_4712.jpg">
                </a>
                <div class="modal fade" id="25" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="~/img/portfolio/MEK_4712.jpg">
                            </div>
                            <div class="col-md-12 description">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
